---
import Layout from '../../layouts/Layout.astro';

const posts = await Astro.glob('./*.md');
---

<Layout title="My Blog">
	<main>
		<h1>My Blog</h1>
		<ul>
			{posts.map(post => (
				<li>
					<a href={post.url}>{post.frontmatter.title}</a>
					<p>{post.frontmatter.description}</p>
					<time>{new Date(post.frontmatter.date).toLocaleDateString()}</time>
				</li>
			))}
		</ul>
	</main>
</Layout>

<style>
	main {
		margin: auto;
		padding: 1rem;
		width: 800px;
		max-width: calc(100% - 2rem);
		color: white;
		font-size: 20px;
		line-height: 1.6;
	}
	h1 {
		font-size: 3rem;
		font-weight: 700;
		line-height: 1;
		text-align: center;
		margin-bottom: 1em;
	}
	ul {
		list-style: none;
		padding: 0;
	}
	li {
		margin-bottom: 2rem;
		border: 1px solid rgba(var(--accent-light), 25%);
		background: linear-gradient(rgba(var(--accent-dark), 66%), rgba(var(--accent-dark), 33%));
		padding: 1.5rem;
		border-radius: 8px;
	}
	a {
		color: rgb(var(--accent-light));
		text-decoration: none;
		font-size: 1.5rem;
		font-weight: bold;
	}
	time {
		color: #666;
		font-size: 0.9rem;
	}
</style>